body{
background-color: black;    
text-align: center;
    color: white;
}

form{
     padding: 1rem;
}
.nav{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 8rem;
}
.nav a{
    text-decoration: overline double rgb(217, 99, 49);
    color: white;

}
header img{
    display: block;
    margin: auto;
}

button{
    color: white;
    background-color: rgb(217, 99, 49);
    border: none;
    border-radius: 10px;
    padding: 10px;
}